h1 {
    text-align: center;
}

.option-spacing {
    margin-bottom: 20px;
}

.selected-by {
    margin-top: 5px;
    font-style: italic;
}

.select-option {
    margin-top: 5px;
}

.form-check-label {
    margin-left: 5px;
}

.title,
.date,
.expiry-date,
.location {
    width: 25%;
}
